@media (max-width: 992px) {
    header{
        padding: 50px;
    }
    nav, .teams-container{
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav,
    .teams-container,
    .facts-card-container {
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .teams-content, .facts-card-container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .facts-card-container{
        gap: 20px;
    }
}